<html>
    <head>
        <title>UMN Syllabus Maker</title>
        <link href="https://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.4/basscss.min.css" rel="stylesheet">
    </head>
    	<header class="umnhf" id="umnhf-h" role="banner">

    	    <link rel="stylesheet" href="css/2015-tc.css">
    	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    	    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    	    <link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">
    	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    	    <!-- Skip Links: Give your nav and content elements the appropriate ID attributes -->
    	    <div id="skipLinks"><a href="#main-nav">Main navigation</a><a href="#main-content">Main content</a></div>
    	    <div class="printer">
    	        <div class="left"></div>
    	        <div class="right"><strong>University of
    	                Minnesota</strong><br />http://twin-cities.umn.edu/<br />612-625-5000</div>
    	    </div>
    	    <div class="umnhf" id="umnhf-h-mast">
    	        <a class="umnhf" id="umnhf-h-logo" href="http://twin-cities.umn.edu/"><span>Go to the U of M home
    	                page</span></a>
    	        <ul class="umnhf" id="umnhf-h-ql">
    	            <li><a href="http://onestop.umn.edu/">One Stop</a></li>
    	            <li class="umnhf"><a href="https://www.myu.umn.edu/">MyU <span></span>: For Students, Faculty, and
    	                    Staff</a></li>
    	        </ul>
    	        <!-- Button below is for dropdown toggle, only visible on mobile screens. If using
				a non-dropdown version you can delete this tag -->
    	        <button class="umnhf" id="umnhf-m-search">Search</button>
    	    </div>
    	    <form class="umnhf umnhf-search" id="umnhf-h-search" action="//search.umn.edu/tc/" method="get"
    	        title="Search Websites and People" role="search">
    	        <label class="umnhf" for="umnhf-h-st">Search</label>
    	        <input class="umnhf" id="umnhf-h-st" type="text" name="q" />
    	        <label class="umnhf" for="umnhf-h-sb">Submit search query</label>
    	        <input class="umnhf" id="umnhf-h-sb" type="submit" value="">
    	    </form>
    	</header>
    <body>
        <div class="container px2 sm-px3" style="max-width:50em;">
        <main>
                <h1>UMN Syllabus Maker</h1>

                <p>Fill out the form to receive a list of all the dates when your course will meet during the specified
                    semester. Alternatively, you can download a syllabus template (in Word, LaTeX, or HTML formats)
                    prepopulated with a class schedule and other <a
                        href="https://policy.umn.edu/education/syllabusrequirements">required information</a>. This application uses the <a
                        href="https://onestop.umn.edu/dates-and-deadlines">academic calendars</a> posted Onestop Student Service to determine when classes will be cancelled for holidays or University recesses.</p>

                <p>This is just an experiment at the moment.  If you find this useful, or you'd like to see a more full-featured syllabus management tool, <a href="mailto:mcfa0086@umn.edu">let us know</a>.</p>
                <h2>Choose your semester.</h2>

                <form method="post" action="{{ url_for('results') }}">
                  <select name="semesterYear" class="ck mb1 field">
                    <option value="Fall 2019">Fall 2019</option>
                    <option value="Spring 2020">Spring 2020</option>
                    <option value="Fall 2020">Fall 2020</option>
                      
                  </select>
            

                  <h2>Check all the days your course meets.</h2>

                      <input type="checkbox" name="days" value="Monday">Monday</input>
                      <input type="checkbox" name="days" value="Tuesday">Tuesday</input>
                      <input type="checkbox" name="days" value="Wednesday">Wednesday</input>
                      <input type="checkbox" name="days" value="Thursday">Thursday</input>
                      <input type="checkbox" name="days" value="Friday">Friday</input>

                  <h2>Choose your output and date format.</h2>
                  
                  <select name="output" class="block col-12 ck mb1 field">
                      <option value="plain">Plain text list of course meetings</option>
                      <option value="docx" SELECTED>Full DOCX syllabus template</option>
                      <option value="tex">Full LaTeX syllabus template</option>
                      <option value="html">Full HTML syllabus template</option>
                  </select>
                  <select name="format" class="block col-12 ck mb1 field">
                      {% for format in formats %}
                          <option value="{{format}}">{{format}}</option>
                      {% endfor %}
                  </select>


<!--
                  <h2>Do you want to show cancelled classes?</h2>

                  <p>You can choose to display these cancelled dates (with "NO CLASS" printed next to them) or hide them from your list.</p>
                  
                  <label class="block col-12 mb2">
                      <input type="radio" name="verbose" value="true" checked>Show dates with no class
                      <input type="radio" name="verbose" value="false">Hide dates with no class
                  </label>
-->

                  <br/>

                  <button type="submit" class="btn btn-primary">Submit</button>

                </form>

                  <p>Based on the <a href="https://github.com/wcaleb/ricescheduler">Rice Syllabus Maker</a>, created by <a
                              href="http://wcm1.web.rice.edu">Caleb McDaniel</a>.</p>

        </main>
        </div>
    </body>
</html>
